{% extends 'base.html.twig' %}

{% block metaTitle %}
site symfony avec david
{% endblock metaTitle %}

{% block textFooter %}
    <p>wesh la street</p>
{% endblock textFooter %}

{% block content %}

<h1 class="nb"> il ya {{ articles | length }} article dans la base de donnée</h1>
<div class="container">

<!-- {//% boucle , condition .. %} -->
{% for article in articles %}
    <!-- {//{ placer la variable  }} -->
{% if article.published %}

        <div class="card">
            <!-- genere un lien vers un element -->
            <a href="{{ path('articlshow', {id: article.id}) }}">
            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>
            <em>{{ article.id }}</em>
            </a>
        </div>


{% endif %}
{% endfor %}
</div>
{% endblock content %}